*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  color: #111;
}

button {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}
