.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20.5rem;
  background: url("../assets/background_assets/shop_bg.png") center / cover
    no-repeat;
}

.page-header img {
  width: 3.125rem;
  height: 2rem;
  object-fit: contain;
}

.page-header h2 {
  margin: 0;
  font-size: 3rem;
  font-weight: 400;
}

.page-header p {
  margin: 0;
  font-size: 1rem;
}

.page-header strong {
  font-weight: 600;
}
